.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  min-width: 240px;
  max-width: 500px;
  padding: 16px 20px;

  border: 1px solid #020202;
  border-radius: 4px;
  background-color: var(--elements-background-color);
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
}

.field {
  margin-bottom: 4px;
}
