.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.contactContainer {
  display: flex;
  gap: 12px;
  align-items: baseline;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #020202;
  border-radius: 4px;
  width: calc((100% - 24px) / 3);
  background-color: var(--elements-background-color);
}
